<?xml version="1.0"?>
<configuration >
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{48} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- <logger name="de.quantummaid.httpmaid" level="debug"/> one logger to another level -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <!-- can't get this to work (yet), shows uncaught exception when using fakelambda mode and pure java endpoint -->
    <logger name="com.sun.net.httpserver" level="trace" />
</configuration>
